/* MOBILE */
section.mobile {
    display: none;
    margin-top: auto;
    margin-bottom: 0;
    width: 100vw;
    pointer-events: auto;
    position: relative;
    /* bottom:0; */
}

section.mobile>nav {
    margin: auto;
    z-index: 1000;
}

section.mobile .burger {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    margin-bottom: 10px;
}

section.mobile .icone {
    font-size: 48px;
    margin: auto;
}

section.mobile ul {
    opacity: 0;
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    flex-flow: column wrap;
    background-color: rgba(0, 0, 0, .7);
    justify-content: space-around;
    margin: 0;
    padding: 0 0 80px 0;
    box-sizing: border-box;
    transition: all .4s ease;
    z-index: 999;
}

section.mobile ul>li {
    margin: 0;
    padding: 15px 10px 15px 50px;
    text-align: left;
    list-style: none;
    border-bottom: 1px solid linear-gradient(60deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .8) 10%);
    /* background: linear-gradient(60deg, rgba(0,0,0,.1) 10%, rgba(0,0,0,.4) 85%); */
}

section.mobile a {
    display: block;
    text-decoration: none;
}

section.mobile ul>li .material-icons {
    font-size: 24px;
    float: left;
    margin-right: 10px;
}

.ouvert {
    /* display:block !important; */
    top: calc(-100vh + 80px) !important;
    opacity: 1 !important;
}

@media screen and (max-width: 1310px) {
    main {
        width: 100vw;
        margin: 0;
    }
    main>* {
        width: 100vw;
    }
    main>h2{
        width:max-content;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1080px) {
    #menu {
        position: fixed;
        top: 0;
        align-items: flex-start;
        width: 100vw;
        z-index:1001;
    }
    main>header>section:nth-child(1) {
        justify-content: flex-start;
    }
}
/* MEDIA QUERIES */
@media screen and (max-width: 950px) {
    #popup article {
        flex-flow: column wrap;
    }
}